@model site_pessoal_dinamico.Models.formacao

@{
    ViewData["Title"] = "Delete";
}

<section class="resume-section" id="distincao_premios">
    <div class="resume-section-content">
        <h2 class="mb-5">Apagar</h2>


        <div>
            <h4 class="mb-5">Formação</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.nome_instituicao)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.nome_instituicao)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.nome_curso)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.nome_curso)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.nivel)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.nivel)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.competencias)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.competencias)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.dataInicio)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.dataInicio)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.dataFim)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.dataFim)
                </dd>
            </dl>

            <form asp-action="Delete">
                <input type="hidden" asp-for="formacaoId" />
                <input type="submit" value="Eliminar" class="btn btn-danger" /> |
                <a asp-action="Index">Cancelar</a>
            </form>
        </div>
    </div>
</section>
