@model IEnumerable<site_pessoal_dinamico.Models.skills>

@{
    ViewData["Title"] = "Index";
}

<section class="resume-section" id="skills">
    <div class="resume-section-content">
        <h2 class="mb-5">Skills</h2>

        <p>
            <a asp-action="Create">Nova Skill</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.descricao_skills)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.descricao_skills)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.skillsId" class="btn btn-warning">Editar</a>
                            <a asp-action="Details" asp-route-id="@item.skillsId" class="btn btn-info">Detalhes</a>
                            <a asp-action="Delete" asp-route-id="@item.skillsId" class="btn btn-danger">Apagar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>
@*<p>A mostrar página @Model.Paginacao.PaginaAtual de @Model.Paginacao.TotalPaginas</p>*@