@model IEnumerable<site_pessoal_dinamico.Models.distincao_premios>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Nova distinção</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.descricao_distincao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.descricao_distincao)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.distincao_premiosId"class="btn btn-warning">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.distincao_premiosId"class="btn btn-info">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.distincao_premiosId"class="btn btn-danger">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
